<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Management Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard-styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" 
          integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" 
          crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="dashboard-container">
        <header class="dashboard-response dashboard-alert">Write value for task name</header>
        
        <form id="dashboard-form">
            <h3>Task Dashboard</h3>
            <div class="dashboard-input-group">
                <input type="text" id="task-input" placeholder="task...">
                <button id="add-task" class="dashboard-button" type="submit">Add Task</button>
            </div>
        </form>
        
        <div class="dashboard-task-container">
            <div class="dashboard-task-list">
                <!-- <div class="dashboard-task">
                    <div class="dashboard-task-info">
                        <h6 class="dashboard-task-index">1</h6>
                        <p class="dashboard-task-name">Task One</p>
                    </div>
                    
                    <div class="dashboard-task-icons">
                        <i class="far fa-check-circle complete-task"></i>
                        <i class="far fa-edit edit-task"></i>
                        <i class="far fa-times-circle delete-task"></i>
                    </div>
                </div> -->
            </div>
            <button type="button" id="clear-tasks" class="dashboard-button">Clear Tasks</button>
        </div>
    </div>
    
    <script src="{{ url_for('static', filename='dashboard.js') }}"></script>
</body>
</html>
